@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1b0b0a;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}


span,
.primary-color {
  background-image: linear-gradient(to right, #570505, #f0530b);
  -webkit-background-clip: text;
  color: transparent;
}

.bg-primary-color {
  background-image: linear-gradient(to right, #570505, #832900);
}