@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1b0b0a;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}


span,
.primary-color {
  background-image: linear-gradient(to right, #570505, #f0530b);
  -webkit-background-clip: text;
  color: transparent;
}

.bg-primary-color {
  background-image: linear-gradient(to right, #570505, #832900);
}

/* background */
:root{
  --bgColor : hsla(242, 86%, 6%, 1);
  --bgColorLight : rgb(134, 31, 0);
  --textColor : hsla(242, 86%, 88%, 1);
  --textColorDark : hsla(242, 36%, 0%, 1);
  --paperColor: rgb(32, 7, 7);
  --paperColorDark: rgb(110, 42, 42);
  --shadowColorFaint: hsla(0, 0%, 0%, 0.2);
}

::selected{
  color: var(--textColorDark);
}

/* html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: var(--bgColor);
  background: linear-gradient(135deg, var(--bgColor), var(--bgColorLight));
  color: var(--textColor);
  font-family: 'Saira', sans-serif;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.audio-visual .slider{
  /* position: absolute; */
  width: 100%;
  height: 200px;
  overflow: hidden;
  top: 0;
  padding-top: 10;
}
.audio-visual .item{
  /* position: absolute; */
  width: 200px;
  height: 200px;
  text-align: center;
  background-color: rgba(104, 58, 58, .6);
  color: rgba(56, 2, 2, 0.863);
  border-radius: 10px;
  padding-top: -10px;
  transition: 0.5s;
  left: calc(50% - 110px);
  top: 0;
}


.audio-visual .item.h2 {
  background: #683a3a;
  z-index: 600;
  background: var(--paperColor);
  font-size: 1.25em;
  font-weight: 700;
  box-shadow: 0 20px 60px var(--shadowColorFaint);


}
.audio-visual #next, #prev{
  /* position: absolute; */
  top: 40%;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  left: 400px;
}
.audio-visual #next{
  left: unset;
  right: 400px;
}


.audio-visual *{
  box-sizing: border-box;
  transition: all 0.12s cubic-bezier(0.42, 0.54, 0.22, 1.26);
}

.audio-visual #canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.audio-visual audio {
  position: fixed;
  left: 10px;
  bottom: -10px;
  width: calc(100% - 20px);
}

.audio-visual audio.active{
  bottom: 10px;
}

.audio-visual #thefile{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	/* position: absolute; */
	z-index: 1;
}

.audio-visual label.file{
  display: inline-block;
  /* position: absolute; */
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 1rem 2rem;
  border-radius: 4px;
  
  background: var(--paperColor);
  color: var(--textColor);
  font-size: 1.25em;
  font-weight: 700;
  box-shadow: 0 20px 60px var(--shadowColorFaint);

  cursor: pointer;
}

.audio-visual label.button{
  display: inline-block;
  /* position: absolute; */
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 1rem 2rem;
  border-radius: 4px;
  
  background: var(--paperColor);
  color: var(--textColor);
  font-size: 1.25em;
  font-weight: 700;
  box-shadow: 0 20px 60px var(--shadowColorFaint);

  cursor: pointer;
}

.audio-visual label.file:hover{
  background: var(--paperColorDark);
  transform: translate3d(-50%, -55%, 0);
}

.audio-visual label:hover{
  background: var(--paperColorDark);
  transform: translate3d(-50%, -55%, 0);
}

.audio-visual label.file:active{
    background: var(--paperColorDark);
    transform: translate3d(-50%, -45%, 0);
}

.audio-visual label.home:active{
  background: var(--paperColorDark);
  transform: translate3d(-50%, -45%, 0);
}

.audio-visual label.file.normal{
  transform: translate3d(10%, 50%, 0);
  padding: 0.2rem 2rem;
  font-size: 1rem;
  top: 100;
  left: 0;
}

.audio-visual label.home.normal{
  /* position: absolute; */
  transform: translate3d(10%, 50%, 0);
  padding: 0.2rem 2rem;
  font-size: 1rem;
  top: 0;
  left: 500;
  z-index: 10;
}